// /***************************************************************************
// Aaru Data Preservation Suite
// ----------------------------------------------------------------------------
//
// Filename       : aaruserver.scss
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// Component      : Aaru Server.
//
// --[ Description ] ----------------------------------------------------------
//
//     Sets server styling.
//
// --[ License ] --------------------------------------------------------------
//
//     This library is free software; you can redistribute it and/or modify
//     it under the terms of the GNU Lesser General Public License as
//     published by the Free Software Foundation; either version 2.1 of the
//     License, or (at your option) any later version.
//
//     This library is distributed in the hope that it will be useful, but
//     WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//     Lesser General Public License for more details.
//
//     You should have received a copy of the GNU Lesser General Public
//     License along with this library; if not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2011-2021 Natalia Portillo
// ****************************************************************************/

@import "_colors";
@import "_font";
@import "_fontstyles";

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $white;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: $darkergray;
}

header, footer {
  background-color: $darkgray;
  text-align: center;
  font-weight: 600;
  color: $pink;
}

header a {
  color: $magenta;
}

.table-centered {
  margin-left: auto;
  margin-right: auto;
}

.table-dark-header {
  color: $pink;
  font-style: normal;
  text-align: center;
}

.btn {
  border: 1px solid $darkred;
  border-radius: 2rem;
  box-sizing: border-box;
  background-color: $red;
  color: $white;
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
  font-weight: bold;
}

.btn-link:hover {
  color: $cyan;
  background-color: $red;
  text-decoration: underline;
}

button.btn.btn-link.card-button.collapsed {
  color: $lightgray;
  background-color: transparent;
  text-decoration: none;
}

button.btn.btn-link.card-button.collapsed:hover {
  color: $white;
  text-decoration: underline;
}

.card {
  background-color: transparent;
}

.carousel-indicators li {
  background-color: $pink;
}